@font-face {
    font-family: Sahel;
    src: url('Sahel.eot');
    src: url('Sahel.eot?#iefix') format('embedded-opentype'),
         url('Sahel.woff2') format('woff2'),
         url('Sahel.woff') format('woff'),
         url('Sahel.ttf') format('truetype');
    font-weight: normal;
}

*{
    font-family: 'Sahel';
}


h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
    font-family: Sahel;
}
